#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.injected-data-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.list-wrapper {
  flex-grow: 1;
}

.list {
  text-align: left;
}

.list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}